{% extends 'base.html.twig' %}

{% block body %}
    <div id="main">
        <div onclick="location.href='{{path("choose_stage")}}' ; " class="button play"></div>
        <div class="button editor"></div>
        <div class="button selector"></div>
        <div class="button rules"></div>
    </div>
{% endblock %}
